@model MySQLApp.Models.Product

@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produkt - @Model.Name</h2>

@using(Html.BeginForm("EditProduct","Product",FormMethod.Post,htmlAttributes: new { @class = "form"}))
{
    <input type="hidden" value="@Model.Id" name="Id" />
    <div class="form-elem-ver">
        @Html.LabelFor(x => x.Name)
        @Html.EditorFor(x => x.Name)
    </div>
    <div class="form-elem-ver">
        @Html.LabelFor(x => x.Price)
        @Html.EditorFor(x => x.Price)
    </div>
    <div class="form-elem-ver">
        @Html.LabelFor(x => x.Rating)
        @Html.HiddenFor(x => x.Rating, new { value = 1 })
        <div class="stars">
            @for (int i = 0; i < 5; i++)
            {
                if (i < Model.Rating)
                {
                    <img value="@i" class="star-button" src="~/img/star_full.png" alt="err" />
                }
                else
                {
                    <img value="@i" class="star-button" src="~/img/star_empty.png" alt="err" />
                }
            }
        </div>
    </div>
    <div class="form-elem-ver">
        @Html.LabelFor(x => x.Desc)
        @Html.TextAreaFor(x => x.Desc)
    </div>
    <div class="form-elem-ver">
        @Html.ValidationSummary()
    </div>
    <input type="submit" value="Edytuj"/>
}
<script>
    $(".star-button").on("click", function () {
        var val = this.getAttribute("value");
        for (var i = 0; i < parseInt(val); i++)
        {
            $(".star-button")[i].setAttribute("src", "/img/star_full.png");
        }
        for (var i = parseInt(val); i < 5; i++)
        {
            $(".star-button")[i].setAttribute("src", "/img/star_empty.png");
        }
        $("#Rating").val(val);
    });
</script>